$HEADER_HEIGTH: 64px;

.outer-layout {
    height: 100%;
    .header {
        background-color: white;
    }
}

.views-layouts-header {
    background: #ffffff;
    display: flex;
    
    h1 {
        width: 10rem;
    };
    .views-layouts-div-search{
        width: 15rem;
    }
}

.views-layouts-content {
    width: 100%;
    height: 150vh;
}

:global {
    .layout-title {
        width: 100%;
        line-height: $HEADER_HEIGTH;
    }
    h1 {
        height: $HEADER_HEIGTH;
        overflow: hidden;
        text-align: center;
        margin: 0;

    }
}

