$HEADER_HEIGTH: 64px;

.outer-layout {
    height: 100%;
}
.layout {

    .header {
        background-color: white;
    }
}

:global {
    .layout-title {
        width: 100%;
        line-height: $HEADER_HEIGTH;
    }
    h1 {
        height: $HEADER_HEIGTH;
        overflow: hidden;
        text-align: center;
        margin: 0;

    }
}

